{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="flexLogReg">
    <div class="left-flexLogReg">
        <h2 class="title-left-flexLogReg">
            Забыли пароль
        </h2>
        <p class="text-left-flexLogReg">
            Восстановите пароль с помощью вашей почты
        </p>
        {% if messages %}
        <div class="form-messages">
            {% for message in messages %}
            <p class="msg-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if step == 'confirm' %}
        <form class="formModal-2" action="{% url 'accounts:reset_password' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="step" value="confirm">
            <label>
                <span>
                    Email
                </span>
                <input type="email" name="email" placeholder="example@yandex.ru" value="{{ email|default:'' }}" readonly>
            </label>
            <label>
                <span>
                    Код
                </span>
                <input type="text" name="code" placeholder="_ _ _ - _ _ _" required autofocus>
            </label>
            <label>
                <span>
                    Новый пароль
                </span>
                <input type="password" name="new_password" placeholder="********" required>
            </label>
            <button type="submit" class="btn-flexLogReg-1">
                Восстановить
            </button>
            <span class="textBottomLink-flexLogReg">
                <a href="{% url 'accounts:login' %}" class="btn-flexLogReg-3">Войти</a>
            </span>
        </form>
        {% else %}
        <form class="formModal-2" action="{% url 'accounts:reset_password' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="step" value="request">
            <label>
                <span>
                    Email
                </span>
                <input type="email" name="email" placeholder="example@yandex.ru" required autofocus>
            </label>
            <button type="submit" class="btn-flexLogReg-1">
                Отправить код
            </button>
            <span class="textBottomLink-flexLogReg">
                <a href="{% url 'accounts:login' %}" class="btn-flexLogReg-3">Войти</a>
            </span>
        </form>
        {% endif %}
    </div>
    <img src="{% static 'img/photoReg.svg' %}" alt="" class="photo-flexLogReg">
</div>
{% endblock %}
